// out: style.css
body{
    font-size:14px;
    color:#fff;
    background: #614260;
    font-family: sans-serif;
    >.container{
        width:500px;
    }
}
.list-item{
    list-style: none;
    padding-left: 0px;
    margin:20px 0px;
    li { 
        color:#333;
        padding: 5px;
        cursor: pointer;
        background-color: rgba(255,255,255,1);
        margin: 5px 0px;
        border-radius: 2px;
        padding-left: 15px;
        &:hover{
            background: rgba(255,255,255,0.8);
        }
        &.done{
            span{ 
                text-decoration: line-through;
                color:dodgerblue;
            }
        }
        &.deleted{
            span{
                color:gainsboro;
            }
        }
    }
}